/* Селектор цветов через переменные */
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-background-color: #2F303A;
    --our-team-color: #F5F4FA;
    --header-border-color: #ECECEC;
}

/* Настраиваю глобальный тег Body */
body {
    color: var(--secondary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* Утиилиты */
/* Для всех списков прятаю точки, удаляю padding & margin */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;

    outline: 2px solid tomato;
}

/* Section Settings */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Задаю цвет текста для ссылок title*/
.title {
    color: var(--title-text-color);
}


/* Шапка сайта */
.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
}

.header-class {
    background-color: var(--primary-text-color);
    border-bottom: 1px solid var(--header-border-color);
}

.site-nav-list:hover,
.site-nav-list:focus {
    color: var(--accent-color);
}

.site-nav-list.title.current{
    color: var(--accent-color);
}

.site-nav-list,
.contact-header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-header-list {
    color: var(--secondary-text-color);
}

.contact-header-list:hover,
.contact-header-list:focus {
    color: var(--accent-color);
}

.main-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.main-header .main-nav{
    display: flex;
    align-items: center;
    /* background-color: tomato; */
}

.main-nav .site-nav{
    display: flex;
    align-items: center;
    margin-left: 93px;

}

/* .site-nav .item+.item,
.contact-header .item+.item {
    margin-left: 50px;
} */

.main-header .item+.item{
    margin-left: 50px;
}

.main-header .contact-header {
    display: flex;
    align-items: center;
    /* background-color: tomato; */
}


/* Секция героя */
.section-hero {
    text-align: center;
    background-color: var(--secondary-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.section-title {
    color: var(--primary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 30px;
}

.accent-button {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

}


/* Секция Особенности */
/* hiding h2 */
.our-features {
    display: none;
}

.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 10px;
}

.feature-list{
    display: flex;
    align-items: center;
}

.feature-list .item + .item{
    margin-left: 30px;
}
.feature-text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    margin: 0;
}


/* Секция Чем мы занимаемся? */
.title.about-us {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.about-us-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-list .item +.item {
    margin-left: 30px;
}
.section.about {
    padding-top: 0px;
}


/* Наша команда */
.our-team-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-team-list .title{
    margin-top: 30px;
    margin-bottom: 10px;
}
.our-team-list .position-name{
    margin-top: 0px;
    margin-bottom: 30px;
}

.our-team-list .item {
    background-color: var(--primary-text-color);
}

.our-team-list .item+.item {
    margin-left: 30px;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
}

.section-our-team {
    background-color: var(--our-team-color);
}

.position-name {
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
}


/* Footer */
.contact-footer-list {
    color: var(--primary-text-color);
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}

.contact-footer-list:hover,
.contact-footer-list:focus {
    color: var(--accent-color);
}

.footer-back {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-back .logo{
    display: block;
    margin-bottom: 20px;
}

.footer-address-list .item + .item{
    display: block;
    margin-top: 10px;
}
.logo-studio {
    color: var(--primary-text-color);
}

.email,
.phone {
    opacity: 0.6;
}


















/*  */
/* Portfolio Page */
/*  */

/* Скрываю H1 */
.portfolio-h1 {
    display: none;
}

/* Buttons Selector */
.button-name {
    background-color: var(--our-team-color);
    color: var(--title-text-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    text-align: center;
    cursor: pointer;
}

/* Buttong Hover and Focus */
.button-name:hover,
.button-name:focus,
.button-name.title.current {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.project-name {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
}

.project-type {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
}